@font-face {
    font-family: 'Panton Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Bold'), url('./fonts/Panton-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton';
    font-style: normal;
    font-weight: normal;
    src: local('Panton'), url('./fonts/Panton-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Black';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Black'), url('./fonts/Panton-Black.woff') format('woff');
}

@-webkit-keyframes topBarMove {
    from {
        top: -70px;
    }
    to {
        top: 0px;
    }
}

@keyframes topBarMove {
    from {
        top: -70px;
    }
    to {
        top: 0px;
    }
}

body {
    background-image: url(./bg_landscape_blur.jpg);
    color: #fff;
    font-family: Panton, Roboto, sans-serif;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    
}

.heading {
    font-family: Panton Bold;
    font-size: 55px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
    margin-bottom: 0px;
    padding-top: 85px
}

.description {
    margin: 30px 15px 0px 15px;
}

.subheading {
    margin-top: 50px;
    font-family: Panton Bold;
    margin-bottom: 40px
}

.background-new {
    background-image: url(./cerium/bg.jpg);
    background-color: #F17F88;
}

.cerium-project-link {
    width: 200px;
    height: 200px;
    -webkit-transition: .20s;
    -o-transition: .20s;
    transition: .20s;
    border: solid 0px rgba(255,255,255,.5);
    border-radius: 200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.25);
            box-shadow: 0px 0px 10px rgba(0,0,0,.25);
}

.cerium-border {
    border: solid 10px rgba(255,255,255,.5);
    -webkit-transition: .20s;
    -o-transition: .20s;
    transition: .20s;
    -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.25);
            box-shadow: 0px 0px 30px rgba(0,0,0,.25);
}

.top-bar {
    width: 100%;
    height: 70px;
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.45)),to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.45),rgba(0,0,0,0));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.45),rgba(0,0,0,0));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.45),rgba(0,0,0,0));
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0,0,0,0));
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: topBarMove .20s ease-out;
            animation: topBarMove .20s ease-out;
    -webkit-transition-duration: .20s;
         -o-transition-duration: .20s;
            transition-duration: .20s;
}

.hidden {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
}

.top-bar-name {
    font-size: 20px;
    display: block;
    position: relative;
    display: inline-block;
    font-family: Panton Bold;
    margin-left: 3px;
    margin-top: 5px;
}

.top-bar-name-icon {
    height: 35px;
    position: relative;
    top: 9;
    right: 5;
    border-radius: 50px;
    margin-left: 19px;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.35);
            box-shadow: 0px 0px 5px rgba(0,0,0,.35)
}

.right-tabs {
    text-align: right;
    padding-bottom: 50px;
    display: inline-block;
    position: relative
}

.left-name {
    text-align: left;
}

.left-name-dropdown {
    transform: rotate(-90deg);
    height: 35px;
    position: relative;
    top: 8;
    left: 10;
    transition-duration: .20s;
    cursor: hand
}

.hide {
    opacity: 0;
    -webkit-transition-duration: .20s;
         -o-transition-duration: .20s;
            transition-duration: .20s
}

.cerium-description {
    position: relative;
    bottom: 125;
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
    z-index: -1;
    opacity: 0;
    font-size: 20px
}

.cerium-desc-text-hover {
    position: relative;
    bottom: 45;
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
    opacity: 1
}

.name-dropdown {
    width: 185px;
    height: 100px;
    background: rgba(255,255,255,.75);
    border-radius: 5px;
    border-width: 5px;
    border: solid rgba(226,226,226,.65);
    position: absolute;
    top: 60;
    left: 15;
    color: #3d3d3d;
    text-align: left;
    font-family: Panton Bold;
    visibility: hidden;
    transition-duration: .20s;
    opacity: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,.25);
}

.dropdown-text {
    padding-left: 10px;
    display: inline-block;
}

.dropdown-text-icon {
    position: relative;
    height: 25px;
    border-radius: 25px;
    margin-left: 15px;
    top: 5
}

.dropdown-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.name-dropdown-active {
    visibility: visible !important;
    transition-duration: .20s;
    opacity: 1;
    color: #3d3d3d;
}

.left-name-dropdown-active {
    transform: rotate(0deg);
    transition-duration: .20s;
    cursor: auto
}

li, li:hover {
    transition-duration: .20s;
    height: 50px
}

li:hover {
    background-color: rgba(200,200,200,.5);
}

ul.dropdown-list a {
    text-decoration: none;
    color: #3d3d3d;
}