html,
body {
    color: var(--text);
    font-family: 'Dosis', Arial, sans-serif;
    margin: 0;
    width: 100%;
    transition: .2s cubic-bezier(0.03, 0.1, 0, 0.98);
    background: var(--bg);
}

* {
    transition: .2s;
    transition-property: background, border;
}

::selection {
    background: #c464f1 !important;
}

::-moz-selection {
    background: #7818A5 !important;
}

:root {
    --bg: #1a1a1a;
    --headbg: #1e1e1e;
    --border: #2d2d2d;
    --text: #fff;
    --brightness: 1;
}

html.light {
    --bg: #f5f5f5;
    --headbg: #ffffff;
    --border: #cccccc;
    --text: #3d3d3d;
    --brightness: 0.25
}

html.wk {
    --bg: #1a1a1a;
    --headbg: #1e1e1eda;
    --border: rgba(0,0,0,.2);
    --text: #fff;
}

html.light-wk {
    --bg: #f5f5f5;
    --headbg: #ffffffda;
    --border: rgba(0,0,0,.2);
    --text: #3d3d3d;
}

:roots {
    --bg: #33ff00;
    --headbg: blue;
    --border: violet;
    --text: yellow;
}

.header-main {
    width: 100%;
    height: 60px;
    background: var(--headbg);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .15);
    top: 0;
    position: fixed;
    border-bottom: var(--border) solid 2px;
    transition: .25s cubic-bezier(0.03, 0.1, 0, 0.98);
    z-index: 2;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.shadow-hide {
    width: 20px;
    height: 60px;
    background: var(--headbg);
    border-bottom: var(--border) solid 2px;
    position: fixed;
    z-index: 20;
    left: 277px;
    transition: .25s cubic-bezier(0.03, 0.1, 0, 0.98);
}

.header-wrapper {
    position: relative;
    margin-left: 300px;
    transition: .25s cubic-bezier(0.03, 0.1, 0, 0.98);
}

.header-main-section {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.nav-button {
    font-size: 28px !important;
    cursor: pointer;
    display: none !important;
}

.header-name {
    font-size: 24px;
    margin-left: 25px;
    font-weight: bold;
}

.nav-menu-outwrapper {
    z-index: 3;
    position: absolute;
    top: 0;
}

.nav-bg {
    position: fixed ;
    background: rgba(0, 0, 0, .25);
    height: 100%;
    width: 100%;
    z-index: 4;
    transition: .25s;
    opacity: 0;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.nav-menu {
    position: fixed;
    left: -300px;
    margin-left: 300px;
    width: 275px;
    height: 100%;
    background-color: var(--headbg);
    box-shadow: 2px 0px 20px rgba(0, 0, 0, .15);
    border-right: var(--border) solid 2px;
    z-index: 5;
    transition: .25s;
    opacity: 1;
    display: block;
    overflow-y: auto;
}

.nav-menu::-webkit-scrollbar {
    display: none;
}

.nav-cover {
    position: relative;
    bottom: 62px;
}

.nav-menu-wrapper div {
    display: flex;
    align-items: center;
    margin: 16px 0 0 0;
    padding: 0 25px 16px 25px;
    border-bottom: 2px solid var(--border)
}

.nav-menu-wrapper a {
    color: var(--text);
}

.nav-menu-wrapper div p {
    margin: 0 0 0 15px;
    font-size: 22px;
    font-weight: bold
}

.nav-menu-wrapper div img {
    width: 32px;
    position: relative;
    right: 4px;
    filter: brightness(var(--brightness))
}

.img-left {
    margin: 0 0 0 7px !important;
}

.content {
    padding: 110px 15% 70px 15%;
    background-color: r;
    margin-left: 277px;
    transition: .25s cubic-bezier(0.03, 0.1, 0, 0.98);
    max-width: 100%;
}

@media screen and (max-width: 1800px) {
    .content {
        padding: 100px 10% 50px 10%;
    }
}

@media screen and (max-width: 950px) {
    .content {
        margin-left: 0;
    }
    .nav-cover {
        bottom: 0;
    }
    .nav-menu {
        z-index: 5;
        left: -300px;
        transition: .25s cubic-bezier(0.03, 0.1, 0, 0.98);
        margin-left: 0;
        box-shadow: 3px 0px 15px rgba(0, 0, 0, .25);
        border-right: var(--border) solid 2px;    
    }
    .shadow-hide {
        left: 0;
    }
    .header-wrapper {
        margin-left: 20px;
    }
    .nav-button {
        display: block !important;
    }
    .nav-bg {
        display: none
    }
}

a {
    text-decoration: none;
    color: #c464f1;
}

.footer {
    width: 100%;
    transition: .25s cubic-bezier(0.03, 0.1, 0, 0.98);
    height: 145px;
}

.footer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: .25s cubic-bezier(0.03, 0.1, 0, 0.98);
}

.footer-wrapper div {
    padding: 10px 0 10px 15px;
    font-size: 14px;
    width: 75%;
}

.footer-wrapper div:not(:first-child) {
    border-top: 1px solid var(--border);
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: r;
    top: 0;
    z-index: -1;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 28px;
    font-weight: bold;
}

.loader-in {
    animation: loaderIn .25s cubic-bezier(0.03, 0.1, 0, 0.98);
    opacity: 0;
}

.loader-out {
    animation: loaderOut .25s cubic-bezier(0.03, 0.1, 0, 0.98);
    opacity: 1;
}

@keyframes loaderIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes loaderOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bg {
    height: 100%;
    width: 100%;
    position: fixed;
    background: r;
    top: 0;
    z-index: -1;
}

::-webkit-scrollbar {
    background: r;
    width: 10px;
    box-shadow: -1px 0px 20px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    background: r;
    border: 2px solid var(--border);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

.header-hide {
    top: -62px;
    transition: .25s cubic-bezier(0.03, 0.1, 0, 0.98);
}

.body-fixed {
    overflow: hidden;
}

i, .nav-menu-wrapper div img {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}