<html>
    <head>
        {% include heading.html %}
    </head>
    <body>
        <div id="wrapper" class="wrapper">
            {% include build.html %}
            <div id="smoothstate">
                <div class="bg"></div>
                {% include header.html %}
                <div class="content">
                    <noscript>
                        <meta http-equiv="Refresh" content="3; url=/noscript.html">
                    </noscript>
                    {{content}}
                </div>
            </div>
        </div>
        <script src="/assets/main.js"></script>
    </body>
</html>