@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --wa-bg: #070707;
    --wa-txt: white;
    --wa-hl: rgba(255, 255, 255, 0.10);
    --wa-bgop: rgba(7, 7, 7, 0.9);
/*     scrollbar-color: black;
    scrollbar-width: thin; */
}

/* ::-webkit-scrollbar {
    background: var(--wa-bg);
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: var(--wa-hl);
    border: solid 4px var(--wa-bg);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.4);
}

::-webkit-scrollbar-thumb:active {
    background: var(--wa-txt);
} */

body {
    font-family: 'JetBrains Mono', 'Inter';
    background-color: var(--wa-bg);
    color: var(--wa-txt);
    margin: 0;
}

.bg-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.2;
}

.bg {
    width: 100%;
    height: 100%;
    background-image: url('./bg.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transform: scale(1.5)
}

div.nav-bar-container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--wa-txt);
    padding: 20px 0px;
}

div.nav-bar-container a, .ontop a {
    color: var(--wa-txt);
    text-decoration: none;
    display: flex;
    align-items: center;
}

div.nav-bar-container a:hover span, .ontop a:hover span {
    text-decoration: underline;
}

div.nav-bar-container a:active, .ontop a:active {
    opacity: 0.5;
}

div.nav-bar-container a:active span, .ontop a:active span {
    text-decoration: underline;
}

div.nav-bar {
    padding: 0px 20px;
    background: var(--wa-bgop);
    position: fixed;
    z-index: 2;
    width: calc(100% - 40px);
    box-shadow: 0px 2px 2px rgba(0,0,0,.3);
}

div.content-container {
    display: flex;
    justify-content: center;
}

div.content {
    width: 80%;
    max-width: 1080px;
    padding: 40px 0px;
    margin-top: 65px;
}

h1 {
    font-size: 72px;
    font-family: 'Inter';
    letter-spacing: -2px;
    margin-bottom: 5px;
    margin-top: 0px;
}

p.description {
    margin-bottom: 5px;
}

div.controls {
    width: 100%;
    min-height: 550px;
    margin-top: 35px;
    display: grid;
    gap: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
}

div.controls.active div.control-item {
    opacity: 1;
    pointer-events: all;
}

div.status {
    min-height: 115px;
    grid-column: 1 / 4;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    background: var(--wa-bgop);
}

div.control-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 0px 30px;
    opacity: 0.35;
    pointer-events: none;
    background: var(--wa-bgop);
}

div.control-item h2 {
    font-weight: normal;
    font-size: 26px;
    margin: 0;
}

div.control-btns {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

div.control-btns i {
    margin: 0 15px;
    padding: 5px;
    border-radius: 50px;
    border: solid 1px transparent;
    cursor: pointer;
    user-select: none;
}

div.control-btns i:first-child {
    margin: 0px;
}

.item-title {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}

.item-title span {
    font-size: 26px;
    margin-left: 10px;
    opacity: 0.5;
}

input[type=range] {
    width: 100%;
    margin: 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: none;
    border: solid 1px var(--wa-txt);
    border-radius: 10px;
    width: 100%;
    height: 6px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -7px;
    width: 18px;
    height: 18px;
    background: var(--wa-bg);
    border: 1px solid var(--wa-txt);
    border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    background: none;
    border: solid 1px var(--wa-txt);
    border-radius: 10px;
    width: 100%;
    height: 6px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    margin-top: -7px;
    width: 18px;
    height: 18px;
    background: var(--wa-bg);
    border: 1px solid var(--wa-txt);
    border-radius: 20px;
    cursor: pointer;
}

.file-select {
    text-align: center;
    min-width: 48%;
}

label {
    padding: 10px 15px;
    border: solid 1px var(--wa-txt);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

label:hover {
    background: var(--wa-hl);
}

label:active {
    background: var(--wa-hl);
    opacity: 0.5;
}

.file-select p {
    margin: 30px 0 0;
    font-size: 12px;
    opacity: 0.5;
}

.divider {
    width: 1px;
    height: 80%;
    border-left: solid 1px var(--wa-txt);
    margin: 0px 40px;
}

.status-controls {
    min-width: 48%;
}

.playing-ani {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 21px;
    height: 15px;
}

.playing-ani .bar {
    min-width: 4px;
    height: 25%;
    background: var(--wa-txt);
    margin: 0 2px;
    transition: 0.25s;
    transition-property: height;
}

.playing-ani.start .bar {
    animation: barmove 0.75s infinite ease-out alternate;
}

@keyframes barmove {
    from {
        height: 25%;
    }
    to {
        height: 100%;
    }
}

.playing-ani .bar.two {
    animation-delay: 0.25s;
}

.playing-ani .bar.three {
    animation-delay: 0.5s;
}

.song-name {
    display: flex;
    align-items: center;
}

.song-name span {
    margin-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.song-icon-controls {
    margin-top: 20px;
}

.song-icon-controls i {
    margin: 0 5px;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    border: solid 1px transparent;
}

.song-icon-controls i:hover, div.control-btns i:hover {
    background: var(--wa-hl);
    border-color: var(--wa-txt);
}

.song-icon-controls i:active, div.control-btns i:active {
    background: var(--wa-hl);
    opacity: 0.5;
    border-color: var(--wa-txt);
}

.song-icon-controls i:first-child {
    margin-left: 0px;
}

@media (max-width: 1050px) {
    div.control-item {
        grid-column: 1 / 4;
        height: 170px;
    }
    div.status {
        height: 170px;
    }
}

@media (max-width: 750px) {
    div.status {
        flex-direction: column;
        height: 325px;
    }

    div.divider {
        height: 1px;
        width: 100%;
        border-left: none;
        border-bottom: solid 1px var(--wa-txt);
        margin: 30px 0px;
    }

    div.status-controls {
        text-align: center;
    }

    .song-name {
        justify-content: center;
    }

    .song-icon-controls i:first-child {
        margin-left: 5px;
    }

    .song-name span {
        font-size: 14px;
    }

    h1 {
        font-size: 54px;
        margin-top: 10px;
    }

    .bg-container {
        display: none;
    }
}

div.wrapper-ontop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background: var(--wa-bg);
}

div.ontop h1 {
    font-size: 42px;
    border-bottom: solid 1px var(--wa-txt);
    padding-bottom: 15px;
    margin-bottom: 30px;
}

div.ontop a {
    margin-top: 40px;
}

div.footer {
    margin-top: 40px;
    border-top: 1px solid var(--wa-txt);
    font-size: 12px
}