@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --wa-bg: #000000;
    --wa-txt: white;
    --wa-hl: rgba(255, 255, 255, 0.10);
    --wa-bgop: rgba(0, 0, 0, 0.5);
/*     scrollbar-color: black;
    scrollbar-width: thin; */
}

/* ::-webkit-scrollbar {
    background: var(--wa-bg);
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: var(--wa-hl);
    border: solid 4px var(--wa-bg);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.4);
}

::-webkit-scrollbar-thumb:active {
    background: var(--wa-txt);
} */

body {
    font-family: 'JetBrains Mono', 'Inter', sans-serif;
    background: var(--wa-bg);
    color: var(--wa-txt);
    margin: 0;
}

.bg-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.2;
}

.bg {
    width: 100%;
    height: 100%;
    background-image: url('./bg.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transform: scale(1.5)
}

div.nav-bar-container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--wa-txt);
    padding: 20px 0px;
}

div.nav-bar-container a, .ontop a {
    color: var(--wa-txt);
    text-decoration: none;
    display: flex;
    align-items: center;
}

div.nav-bar-container a:hover span, .ontop a:hover span {
    text-decoration: underline;
}

div.nav-bar-container a:active, .ontop a:active {
    opacity: 0.5;
}

div.nav-bar-container a:active span, .ontop a:active span {
    text-decoration: underline;
}

div.nav-bar {
    padding: 0px 20px;
    background: var(--wa-bgop);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    z-index: 2;
    width: calc(100% - 40px);
}

div.content-container {
    display: flex;
    justify-content: center;
}

div.content {
    width: 80%;
    max-width: 1080px;
    padding: 40px 0px;
    margin-top: 65px;
}

h1 {
    font-size: 72px;
    font-family: 'Inter';
    letter-spacing: -0.03em;
    margin-bottom: 5px;
    margin-top: 0px;
}

p.description {
    margin-bottom: 5px;
}

div.controls {
    width: 100%;
    min-height: 550px;
    margin-top: 35px;
    display: grid;
    gap: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
}

div.controls.active div.control-item div.item-title, div.controls.active div.control-item input, div.controls.active div.control-item div.control-btns {
    opacity: 1;
    pointer-events: all;
}

div.status {
    min-height: 115px;
    grid-column: 1 / 4;
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 40px 2fr;
    gap: 20px;
    padding: 0 40px;
    background: var(--wa-bgop);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

#stop, div.seek-container {
    opacity: 0.35;
    pointer-events: none;
}

div.controls.active #stop, div.controls.active div.seek-container {
    opacity: 1;
    pointer-events: all;
}

div.control-item div.item-title, div.control-item input, div.control-item div.control-btns {
    opacity: 0.35;
}

div.control-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255,255,255,.35);
    padding: 0px 30px;
    pointer-events: none;
    background: var(--wa-bgop);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

div.controls.active div.control-item {
    border-color: white;
}

div.control-item h2 {
    font-weight: normal;
    font-size: 26px;
    margin: 0;
}

div.control-btns {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

div.control-btns i {
    margin: 0 15px;
    padding: 5px;
    border-radius: 50px;
    border: solid 1px transparent;
    cursor: pointer;
    user-select: none;
}

div.control-btns i:first-child {
    margin: 0px;
}

.item-title {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}

.item-title span {
    font-size: 26px;
    margin-left: 10px;
    opacity: 0.5;
}

input[type=range] {
    width: 100%;
    margin: 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: none;
    border: solid 1px var(--wa-txt);
    border-radius: 10px;
    width: 100%;
    height: 6px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -7px;
    width: 18px;
    height: 18px;
    background: var(--wa-bg);
    border: 1px solid var(--wa-txt);
    border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    background: none;
    border: solid 1px var(--wa-txt);
    border-radius: 10px;
    width: 100%;
    height: 6px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    margin-top: -7px;
    width: 18px;
    height: 18px;
    background: var(--wa-bg);
    border: 1px solid var(--wa-txt);
    border-radius: 20px;
    cursor: pointer;
}

.file-select {
    align-self: center;
    justify-self: center;
    text-align: center;
    min-width: 48%;
}

label, button {
    color: white;
    padding: 10px 15px;
    border: solid 1px var(--wa-txt);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    background: none;
    font-family: 'JetBrains Mono', 'Inter', sans-serif;
    outline: none;
    font-size: 16px;
}

label:hover, button:hover {
    background: var(--wa-hl);
}

label:active, button:active {
    background: var(--wa-hl);
    opacity: 0.5;
}

.file-select p {
    margin: 30px 0 0;
    font-size: 12px;
    opacity: 0.5;
}

.divider {
    width: 1px;
    height: 80%;
    border-left: solid 1px var(--wa-txt);
    align-self: center;
    justify-self: center;
}

.status-controls {
    min-width: 48%;
    align-self: center;
}

.playing-ani {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 21px;
    height: 15px;
}

.playing-ani .bar {
    min-width: 4px;
    height: 25%;
    background: var(--wa-txt);
    margin: 0 2px;
    transition: 0.25s;
    transition-property: height;
}

.playing-ani.start .bar {
    animation: barmove 0.75s infinite ease-out alternate;
}

@keyframes barmove {
    from {
        height: 25%;
    }
    to {
        height: 100%;
    }
}

.playing-ani .bar.two {
    animation-delay: 0.25s;
}

.playing-ani .bar.three {
    animation-delay: 0.5s;
}

.song-name {
    display: flex;
    align-items: center;
}

.song-name span {
    margin-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.song-icon-controls {
    margin-top: 20px;
}

.song-icon-controls i {
    margin: 0 5px;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    border: solid 1px transparent;
}

.song-icon-controls i:hover, div.control-btns i:hover {
    background: var(--wa-hl);
    border-color: var(--wa-txt);
}

.song-icon-controls i:active, div.control-btns i:active {
    background: var(--wa-hl);
    opacity: 0.5;
    border-color: var(--wa-txt);
}

.song-icon-controls i:first-child {
    margin-left: 0px;
}

.seek-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    align-items: center;
}

#songDuration {
    margin-left: 15px;
}

#songCurrent {
    margin-right: 15px;
}

div.wrapper-ontop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background: var(--wa-bg);
}

div.ontop {
    padding: 0px 40px;
}

div.ontop h1 {
    font-size: 42px;
    border-bottom: solid 1px var(--wa-txt);
    padding-bottom: 15px;
    margin-bottom: 30px;
}

div.ontop a {
    margin-top: 40px;
}

div.footer {
    margin-top: 40px;
    border-top: 1px solid var(--wa-txt);
    font-size: 12px;
    display: flex;
    align-items: center;
}

div.footer p::after {
    content: '|';
    margin: 0px 10px;
}

div.footer span {
    text-decoration: underline;
    cursor: pointer;
}

div.footer span:hover {
    opacity: 0.7;
}

@keyframes open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes inneropen {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}

@keyframes innerclose {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.95);
    }
}

div.wrapper-ontop.disclaimer {
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transform: scale(1);
}

div.wrapper-ontop.disclaimer.hide {
    animation: close .35s;
}

div.wrapper-ontop.disclaimer.hide .ontop {
    animation: innerclose .35s;
}

div.wrapper-ontop.disclaimer.show .ontop {
    animation: inneropen .35s;
}

div.wrapper-ontop.disclaimer.show {
    opacity: 1;
    animation: open .35s;
    pointer-events: all;
}

@media (max-width: 1050px) {
    div.control-item {
        grid-column: 1 / 4;
        height: 170px;
    }
    div.status {
        height: 170px;
    }
}

@media (max-width: 750px) {
    div.status {
        grid-template-columns: none;
        grid-template-rows: 1fr 10px 1fr;
        height: 325px;
        gap: 30px;
        padding: 0 20px;
    }

    div.file-select {
        align-self: flex-end;
    }

    div.divider {
        height: 1px;
        width: 100%;
        border-left: none;
        border-bottom: solid 1px var(--wa-txt);
    }

    div.status-controls {
        text-align: center;
        align-self: flex-start;

    }

    .song-name {
        justify-content: center;
    }

    .song-icon-controls i:first-child {
        margin-left: 5px;
    }

    .song-name span {
        font-size: 14px;
    }

    h1 {
        font-size: 3em;
        margin-top: 10px;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .bg-container {
        display: none;
    }
    
    div.wrapper-ontop {
        text-align: center;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --wa-bg: #f7f7f7;
        --wa-txt: #131313;
        --wa-hl: rgb(19 19 19 / 10%);
        --wa-bgop: rgb(247 247 247 / 30%);
    }

    div.control-item {
        border-color: rgb(19 19 19 / 35%);
    }

    div.controls.active div.control-item {
        border-color: #131313;
    }

    div.wrapper-ontop.disclaimer {
        background: rgb(247 247 247 / 50%)
    }

    label, button {
        color: var(--wa-txt)
    }
}